header {
    height: 10vh;
}

section, iframe {
    height: 90vh;
}

iframe {
    border-style: none;
    width: 100%
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 5vh;
}

.reminderBox {
    width: 95%;
    background-color: #AAAAAA;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
}

.confirmationBox {
    
}

.doneThing {
    display: flex;
}

.overflowDiv {
    overflow: auto;
}

.yesDiv {
    background-color: #00FF00;
    height: 50px;
    width: 50px;
}

#icon {
    margin-right: 10%;
    width: 20%;
    float: left;
}

#checkMark {
    margin-top: 5vh;
    margin-left: 5%;
    width: 10%;
    float: left;
}