header {
    height: 10vh;
}

section, iframe {
    height: 90vh;
}

iframe {
    border-style: none;
    width: 100%
}

h1 {
    text-align: center;
}

.reminderBox {
    width: 95%;
    height: 30vh;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
}

#icon {
    width: 20%;
}